<div>
  <h4>Commentario al articulo <%= comment.article.title%></h4>
  <p class="comment"><%= comment.body %></p>
  <p>Fecha comentario: <%= comment.article.created_at.strftime("%m/%d/%y") %></p>
</div>
<hr>
